<div class="row">
  <div class="col text-center">bssamples component (disable in app.component.html)</div>

  <div class="col-12 btn-dark d-block">visible on all</div>

  <div class="col-12 btn-dark d-block d-sm-none">visible only on <strong>xs</strong></div>
  <div class="col-12 btn-dark d-none d-sm-block d-md-none">visible only on <strong>sm</strong></div>
  <div class="col-12 btn-dark d-none d-md-block d-lg-none">visible only on <strong>md</strong></div>
  <div class="col-12 btn-dark d-none d-lg-block d-xl-none">visible only on <strong>lg</strong></div>
  <div class="col-12 btn-dark d-none d-xl-block">visible only on <strong>xl</strong></div>

  <div class="col-12 custom3 d-sm-none">show on xs / hide on sm and wider</div>
  <div class="col-12 custom3 d-md-none">show on sm and smaller / hide on md and wider</div>
  <div class="col-12 custom3 d-lg-none">show on md and smaller / hide on lg and wider</div>
  <div class="col-12 custom3 d-xl-none">show on lg and smaller / hide on xl</div>

  <div class="col-12 custom2 d-none d-sm-block">hide on xs / show on sm and wider</div>
  <div class="col-12 custom2 d-none d-md-block">hide on sm and smaller / show on md and wider</div>
  <div class="col-12 custom2 d-none d-lg-block">hide on md and smaller / show on lg and wider</div>
  <div class="col-12 custom2 d-none d-xl-block">hide on lg and smaller / show on xl</div>
</div>
<div class="row">
  <div class="col-md btn-info">
    col-md (horizontal below md, autosize)
  </div>
  <div class="col-md-6 btn-danger text-center">
    col-md-6 (larger)
  </div>
  <div class="col-md-auto btn-warning">
    col-md-auto (var width)
  </div>
</div>
<div class="row">
  <button type="button" class="btn btn-primary">Primary</button>
  <button type="button" class="btn btn-secondary">Secondary</button>
  <button type="button" class="btn btn-tertiary">Tertiary</button>
  <button type="button" class="btn btn-quaternary">Quaternary</button>
  <button type="button" class="btn btn-quinary">Quinary</button>
</div>
<div class="row">
  <button type="button" class="btn btn-success">Success</button>
  <button type="button" class="btn btn-danger">Danger</button>
  <button type="button" class="btn btn-warning">Warning</button>
  <button type="button" class="btn btn-info">Info</button>
  <button type="button" class="btn btn-light">Light</button>
  <button type="button" class="btn btn-dark">Dark</button>
  <button type="button" class="btn btn-link">Link</button>
</div>
<div class="row">
  <div class="col p-0">
    <alert type="success" dismissible="true">alert message (dismissible)</alert>
  </div>
</div>
