<div class="container-fluid container-wide">
  <p><strong>How did DOME come to be?</strong></p>

  <div class="d-flex flex-row">
    <p style="text-align: justify">DOME guidelines were initially formulated through the
      <a href="https://elixir-europe.org/"
         tooltip="ELIXIR, initially established in 2014, is now a mature intergovernmental European infrastructure
             for biological data and represents over 220 research organizations in 22 countries across many aspects of
             bioinformatics">ELIXIR</a>&nbsp;<a href="https://elixir-europe.org/focus-groups/machine-learning"
                                                tooltip="The ELIXIR Machine Learning Focus Group was initiated in October 2019, in order to capture the
          emerging need in Machine Learning expertise across the network.">ML focus group</a> after the
      publication of a comment calling for the establishment of standards for ML in biology [<a
        href="https://pubmed.ncbi.nlm.nih.gov/31548714/">PMID: 31548714</a>]. Over 700
      national experts participate in the development and operation of national services that contribute to data
      access, integration, training and analysis for the research community. Over 50 of these experts involved in
      the field of ML have established an ELIXIR ML focus group which held a number of meetings to develop and
      refine the recommendations based on a
      broad consensus among them. </p>


    <a href="https://elixir-europe.org/focus-groups/machine-learning">
      <div class="d-flex flex-column text-center ml-5 mr-3">
        <div><img alt="elixir-logo" height="90" width="120" src="assets/img/elixir-logo-dark.png"></div>
        <div><small>ELIXIR ML Focus Group</small></div>
      </div>
    </a>
  </div>

  <div class="card mt-5">
    <div class="card-header">
      <h4 class="li-txt">Cite</h4>
    </div>
    <div class="card-body">
      <strong>DOME: recommendations for supervised machine learning validation in biology</strong>
      <p class="li-txt">Ian Walsh, Dmytro Fishman, Dario Garcia-Gasulla, Tiina Titma, Gianluca Pollastri, The ELIXIR
        Machine Learning focus group, Jen Harrow, Fotis E. Psomopoulos, Silvio C.E. Tosatto</p>
      <i>Nat Methods</i>. 2021. doi: <a href="https://www.nature.com/articles/s41592-021-01205-4" target="_blank">10.1038/s41592-021-01205-4</a>.
      PubMed: <a href="https://pubmed.ncbi.nlm.nih.gov/34316068" target="_blank">34316068</a>.
    </div>
  </div>

  <div class="card mt-4">
    <div class="card-header">
      <h4 class="li-txt">Governance</h4>
    </div>
    <div class="card-body">
      <p>We are currently seeking to expand the committee with other members. The current committee is composed by:</p>

      <div class="d-flex flex-row">
        <div class="d-flex flex-column pl-5">
          <figure><img alt="Contact-1" class="border" height="160" width="160" src="assets/img/contact-1.gif"></figure>
          <div><p class="li-txt">Silvio Tosatto</p></div>
        </div>
        <div class="d-flex flex-column pl-5">
          <figure><img alt="Contact-2" class="border" height="160" width="160" src="assets/img/contact-2.jpg"></figure>
          <div><p class="li-txt">Fotis Psomopoulos</p></div>
        </div>
        <div class="d-flex flex-column pl-5">
          <figure><img alt="Contact-3" class="border" height="160" width="160" src="assets/img/contact-3.jpg"></figure>
          <div><p class="li-txt">Jennifer Harrow</p></div>
        </div>
      </div>
    </div>
  </div>

  <!--  <div class="card mt-4">
      <div class="card-header">
        <h4 class="li-txt">Contacts</h4>
      </div>
      <div class="card-body">
        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=mail@gmail.com">Send us an email</a>
      </div>
    </div>-->
</div>
