<div class="container-fluid container-wide">


  <div class="card mt-5">
    <div class="card-header">
      <h4 class="li-txt">About DOME</h4>
    </div>
    <div class="card-body">
    

  <p><strong>Developing the DOME Recommendations</strong></p>

  <div class="d-flex flex-row">
    <p style="text-align: justify"> 
      <a href="https://elixir-europe.org/"
         tooltip="ELIXIR, initially established in 2014, is now a mature intergovernmental European infrastructure
             for biological data and represents over 220 research organizations in 22 countries across many aspects of
             bioinformatics">ELIXIR</a> is comprised of over 250 research institutes and over 1,000 national experts who operate and develop life science services 
      supporting data access, integration, and analysis for the global research community. Driven by the growth in poorly described ML methods in scientific publications, 
      ELIXIR experts came together to develop a standard to guide authors to correctly disclose their ML methodologies. Over 50 ELIXIR machine learning domain experts established the <a href="https://elixir-europe.org/focus-groups/machine-learning"
      tooltip="The ELIXIR Machine Learning Focus Group was initiated in October 2019, in order to capture the
      emerging need in Machine Learning expertise across the network.">ELIXIR ML focus group</a> which held a number of meetings to create and
      refine the DOME ML reporting standard through broad consensus. These standards are now known as the DOME Recommendations and were published in Nature Methods during 2021.   </p>
    

    <a href="https://elixir-europe.org/focus-groups/machine-learning">
      <div class="d-flex flex-column text-center ml-5 mr-3">
        <div><img alt="elixir-logo" height="90" width="120" src="assets/img/elixir-logo-dark.png"></div>
        <div><small>ELIXIR ML Focus Group</small></div>
      </div>
    </a>
  </div>

  

  
  <p><strong>DOME Registry service</strong></p>

  <div class="d-flex flex-row">
    <p style="text-align: justify"> 
       The DOME Recommendations are complemented by the <a href="https://elixir-europe.org/focus-groups/machine-learning">DOME Registry</a> service developed through ELIXIR and launched in 2023. 
       It is a technical solution to support transparent ML publishing by providing a template to disclose a publication's 
       compliance with the DOME Recommendations standard. This makes a publication more reproducible, transparent and trustworthy for reader's and can prompt an author 
       during pre-print stage to improve the ML methods reporting in their text. The service is under active development and expansion to
       support adoption by publishers.   </p>
    

    <a href="https://elixir-europe.org/focus-groups/machine-learning">
      <div class="d-flex flex-column text-center ml-5 mr-3">
        <div><img alt="DOME Registry blue" height="90" width="120" src="assets/img/logo-blue-static.svg"></div>
        <div><small>DOME Registry</small></div>
      </div>
    </a>
  </div>

</div>
</div>

  <div class="card mt-5">
    <div class="card-header">
      <h4 class="li-txt">Cite</h4>
    </div>
    <div class="card-body">
      <strong>DOME: recommendations for supervised machine learning validation in biology</strong>
      <p class="li-txt">Ian Walsh, Dmytro Fishman, Dario Garcia-Gasulla, Tiina Titma, Gianluca Pollastri, The ELIXIR
        Machine Learning focus group, Jen Harrow, Fotis E. Psomopoulos, Silvio C.E. Tosatto</p>
      <i>Nat Methods</i>. 2021. doi: <a href="https://www.nature.com/articles/s41592-021-01205-4" target="_blank">10.1038/s41592-021-01205-4</a> |
      PubMed: <a href="https://pubmed.ncbi.nlm.nih.gov/34316068" target="_blank">34316068</a>
    </div>
    <div class="card-body">
      <strong>DOME Registry: implementing community-wide recommendations for reporting supervised machine learning in biology</strong>
      <p class="li-txt">
        Omar Abdelghani Attafi, Damiano Clementel, Konstantinos Kyritsis, Emidio Capriotti, Gavin Farrell, Styliani-Christina Fragkouli, Leyla Jael Castro, András Hatos, Tom Lenaerts, Stanislav Mazurenko, Soroush Mozaffari, Franco Pradelli, Patrick Ruch, Castrense Savojardo, Paola Turina, Federico Zambelli, Damiano Piovesan, Alexander Miguel Monzon, Fotis Psomopoulos, Silvio C E Tosatto</p>
      <i>Nat Methods</i>. 2021. doi: <a href="https://doi.org/10.1093/gigascience/giae094" target="_blank">10.1093/gigascience/giae094</a> |
      PubMed: <a href="https://pmc.ncbi.nlm.nih.gov/articles/PMC11633452/" target="_blank">11633452</a>
    </div>
  </div>


  <div class="card mt-4">
    <div class="card-header">
      <h4 class="li-txt">Governance</h4>
    </div>
    <div class="card-body">
      <p>The current governance committee members are:</p>

      <div class="d-flex flex-row">
        <div class="d-flex flex-column pl-5">
          <figure><img alt="Contact-1" class="border" height="160" width="160" src="assets/img/contact-1.gif"></figure>
          <div><p class="li-txt">Silvio Tosatto</p></div>
          <div><p class="li-txt"><a href="mailto:silvio.tosatto@unipd.it">silvio.tosatto@unipd.it</a></p></div>
        </div>
        <div class="d-flex flex-column pl-5">
          <figure><img alt="Contact-2" class="border" height="160" width="160" src="assets/img/contact-2.jpg"></figure>
          <div><p class="li-txt">Fotis Psomopoulos</p></div>
          <div><p class="li-txt"><a href="mailto:fpsom@certh.gr">fpsom@certh.gr</a></p></div>
        </div>
      </div>
      <br>
      <p>The past governance committee members are:</p>

      <div class="d-flex flex-row">
        <div class="d-flex flex-column pl-5">
          <figure><img alt="Contact-3" class="border" height="160" width="160" src="assets/img/contact-3.jpg"></figure>
          <div><p class="li-txt">Jen Harrow</p></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Separate Contact card -->
  <div class="card mt-4">
    <div class="card-header">
      <h4 class="li-txt">Contact</h4>
    </div>
    <div class="card-body">
      <p>Reach out to explore how you can adopt the DOME Recommendations and Registry service:</p>
      <div><p class="li-txt"><a href="mailto:contact@dome-ml.org">contact@dome-ml.org</a></p></div>
    </div>
  </div>
</div>

