<div class="row justify-content-center pt-3">
  <nav class="navbar navbar-expand-lg navbar-light text-center">
    <!--    <a class="navbar-brand nav-item d-lg-none" [routerLinkActiveOptions]="{exact: true}" routerLink="">Navbar</a>-->
    <div class="row">
      <div class="col">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-label="Toggle navigation"
                [attr.aria-expanded]="!isCollapsed"
                (click)="isCollapsed = !isCollapsed">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent"
           [ngClass]="{'show': !isCollapsed}">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link btn-navbar" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
               routerLink=""
               title="Home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link btn-navbar" routerLinkActive="active" routerLink="news" title="News">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link btn-navbar" routerLinkActive="active" routerLink="dome" title="Dome">DOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link btn-navbar" routerLinkActive="active" routerLink="guidelines"
               title="Guidelines">Guidelines</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link btn-navbar" routerLinkActive="active" routerLink="cite" title="Cite">Cite</a>
          </li>
        </ul>
      </div>
    </div>

  </nav>
</div>
