<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a routerLink="/" class="navbar-brand">
      <img alt="" src="assets/img/OSAI_logo.png" class="brand-img img-fluid">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-label="Toggle navigation"
            [attr.aria-expanded]="!isCollapsed"
            (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent"
         [ngClass]="{'show': !isCollapsed}">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link btn-navbar" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
             routerLink=""
             title="Home" (click)="collapseNav()">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link btn-navbar" routerLinkActive="active" routerLink="about"
             title="About" (click)="collapseNav()">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link btn-navbar" routerLinkActive="active" routerLink="guidelines"
             title="Guidelines" (click)="collapseNav()">Guidelines</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link btn-navbar" routerLinkActive="active" routerLink="ai-ecosystem"
             title="AI Ecosystem" (click)="collapseNav()">AI Ecosystem</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link btn-navbar" routerLinkActive="active" routerLink="pathways"
             title="Pathways" (click)="collapseNav()">Pathways</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link btn-navbar" routerLinkActive="active" routerLink="news"
             title="News & Events" (click)="collapseNav()">News & Events</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
