<div class="container-fluid container-wide">
  <!--  <a class="twitter-timeline" href="https://twitter.com/BioComputingUP?ref_src=twsrc%5Etfw"-->
  <!--        data-chrome="nofooter noheader noborders transparent" data-aria-polite="assertive" data-tweet-limit="3">-->
  <!--  </a>-->
  <div class="card mt-2">
    <div class="card-header">
      <h4 class="li-txt">News</h4>
    </div>
    <div class="card-body">
      <h5><strong>11 December, 2024</strong></h5>
      <p>DOME Registry paper published in <i>GigaScience</i> <a href="https://academic.oup.com/gigascience/article/doi/10.1093/gigascience/giae094/7921169"><i
        class="icon ml-2 icon-common icon-external-link-alt"></i></a></p>
      <h5><strong>21 November, 2024</strong></h5>
      <p>GigaScience talk on DOME adoption at the 19th International Conference on Genomics (ICG) <a href="https://youtu.be/EQM0GVjPbmQ?si=bZXR5TP38zM_hUyU"><i
        class="icon ml-2 icon-common icon-external-link-alt"></i></a></p>
      <h5><strong>10 April, 2024</strong></h5>
      <p>DOME Registry service adopted for use by publisher: <i>GigaScience</i> <a href="https://academic.oup.com/gigascience/article/doi/10.1093/gigascience/giae094/7921169"><i
          class="icon ml-2 icon-common icon-external-link-alt"></i></a></p>
      <h5><strong>1 September, 2022</strong></h5>
      <p>DOME Registry service launched <a href="https://registry.dome-ml.org/intro"><i
          class="icon ml-2 icon-common icon-external-link-alt"></i></a></p>
      <h5><strong>27 July, 2021</strong></h5>
      <p>DOME Recommendations paper published in <i>Nature Methods</i> <a href="https://www.nature.com/articles/s41592-021-01205-4"><i
        class="icon ml-2 icon-common icon-external-link-alt"></i></a></p>
      <h5><strong>10 December, 2020</strong></h5>
      <p>dome-ml GitHub repository created <a href="https://github.com/MachineLearning-ELIXIR/dome-ml"><i
        class="icon ml-2 icon-common icon-github"></i></a></p>
      <h5 class="mt-4"><strong>25 June, 2020</strong></h5>
      <p>Deposited first manuscript to arXiv <a href="https://arxiv.org/abs/2006.16189"><i
        class="icon ml-2 icon-common icon-external-link-alt"></i></a></p>
      <h5 class="mt-4"><strong>1 October, 2019</strong></h5>
      <p>The ELIXIR Machine Learning Focus Group was formed with ML domain experts<a
        href="https://elixir-europe.org/focus-groups/machine-learning"><i
        class="icon ml-2 icon-common icon-external-link-alt"></i></a></p>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-header">
      <h4 class="li-txt">Events</h4>
    </div>
    <div class="card-body">
      <h5 class="mt-4"><strong>5 December, 2024</strong></h5>
      <p>DOME - Machine Learning Best Practices & Recommendations Webinar with Australian BioCommons <a href="https://www.biocommons.org.au/events/dome-ml"><i
        class="icon ml-2 icon-common icon-external-link-alt"></i></a></p>
      <h5 class="mt-4"><strong>24 September, 2024</strong></h5>
      <p>DOME - Machine Learning Best Practices & Recommendations Webinar with ELIXIR <a href="https://elixir-europe.org/events/dome-machine-learning-best-practices-recommendations-webinar"><i
        class="icon ml-2 icon-common icon-external-link-alt"></i></a></p>
        <h5 class="mt-4"><strong>7 June, 2021</strong></h5>
        <p>ELIXIR All Hands Meeting 2021 | Workshop on defining the road ahead for machine learning in ELIXIR <a href="https://docs.google.com/document/d/1jV1poS7Jth7OPmZUyOPVH3hy8ZkfFq72x9FvFRRS9y4/export?format=pdf"><i
          class="icon ml-2 icon-common icon-external-link-alt"></i></a></p>
    </div>
  </div>

<!--  <div class="card mt-5">
    <div class="card-header">
      <h4 class="li-txt">Changelog</h4>
    </div>
    <div class="card-body">
      &lt;!&ndash;<p>v1.0 guidelines</p>&ndash;&gt;
    </div>
  </div>-->
</div>
