<div class="container-fluid container-wide">
  <!--  <a class="twitter-timeline" href="https://twitter.com/BioComputingUP?ref_src=twsrc%5Etfw"-->
  <!--        data-chrome="nofooter noheader noborders transparent" data-aria-polite="assertive" data-tweet-limit="3">-->
  <!--  </a>-->
  <div class="card mt-2">
    <div class="card-header">
      <h4 class="li-txt">News</h4>
    </div>
    <div class="card-body">
      <h5><strong>11 December 2020</strong></h5>
      <p>dome-ml GitHub repository created <a href="https://github.com/MachineLearning-ELIXIR/dome-ml"><i
        class="icon ml-2 icon-common icon-github"></i></a></p>
      <h5 class="mt-4"><strong>25 June 2020</strong></h5>
      <p>Deposited first manuscript to arXiv <a href="https://arxiv.org/abs/2006.16189"><i
        class="icon ml-2 icon-common icon-external-link-alt"></i></a></p>
      <h5 class="mt-4"><strong>October 2019</strong></h5>
      <p>The ELIXIR Machine Learning Focus Group was initiated in October 2019<a
        href="https://elixir-europe.org/focus-groups/machine-learning"><i
        class="icon ml-2 icon-common icon-external-link-alt"></i></a></p>
    </div>
  </div>

  <div class="card mt-5">
    <div class="card-header">
      <h4 class="li-txt">Events</h4>
    </div>
    <div class="card-body">
      <h5 class="mt-4"><strong>June 2021</strong></h5>
      <p>The ELIXIR Machine Learning Focus Group was initiated in October 2019</p>
    </div>
  </div>

<!--  <div class="card mt-5">
    <div class="card-header">
      <h4 class="li-txt">Changelog</h4>
    </div>
    <div class="card-body">
      &lt;!&ndash;<p>v1.0 guidelines</p>&ndash;&gt;
    </div>
  </div>-->
</div>
