@import 'src/variables';

.bg-col {
  background-color: lightgray;
}

//:host-context(.theme-light) h2 {
//  background-color: #eef;
//}
//
//:host-context(.theme-dark) h2 {
//  background-color: #00a;
//}

.def-theme {
  background-color: #1faf19;
}
.alt-theme {
  background-color: #f669a3;
}
