<div class="container-fluid container-wide">
  <section>
    <h2 class="section-title">Welcome to DOME-ML!</h2>
    <ul>
      <li class="li-txt">
        <p><strong>What is DOME-ML?</strong></p>
        <p> DOME-ML (or simply DOME) is an acronym standing for Data, Optimization, Model and Evaluation in Machine
          Learning. DOME is a set of community-wide guidelines, recommendations and checklists spanning these four
          areas aiming to help establish standards of supervised machine learning validation in biology. The
          recommendations are formulated as questions to anyone wishing to pursue implementation of a machine learning
          algorithm. Answers to these questions can be easily included in the supplementary material of published
          papers. </p>
      </li>
      <li class="li-txt">
        <p><strong>What is the scope of the recommendations?</strong></p>
        <p>The recommendations cover four separate aspects covering the major areas of ML:</p>
        <table class="table li-txt">
          <tr>
            <th>Data</th>
            <td>Preprocessing data properly, and using it in a knowledgeable manner is the only
              way to obtain good generalization
            </td>
          </tr>
          <tr>
            <th>Optimization</th>
            <td>Problems associated with a poor choice of optimization strategy.</td>
          </tr>
          <tr>
            <th>Model</th>
            <td>Fallacies of important aspects of the ML models (black-box models where interpretability is required,
              dissemination level of the model components, computational requirements to execute trained models)
            </td>
          </tr>
          <tr>
            <th>Evaluation</th>
            <td>Valid assessment methodology for any final model with adequate and comprehensive measures.</td>
          </tr>
        </table>

      </li>
      <li class="li-txt">
        <p><strong>How did DOME come to be?</strong></p>
        <p>DOME guidelines were initially formulated through the
          <a href="https://elixir-europe.org/"
             tooltip="ELIXIR, initially established in 2014, is now a mature intergovernmental European infrastructure
             for biological data and represents over 220 research organizations in 22 countries across many aspects of
             bioinformatics">ELIXIR</a>&nbsp;<a href="https://elixir-europe.org/focus-groups/machine-learning"
          tooltip="The ELIXIR Machine Learning Focus Group was initiated in October 2019, in order to capture the
          emerging need in Machine Learning expertise across the network.">ML focus group</a> after the
          publication of a comment calling for the establishment of standards for ML in biology [<a
            href="https://pubmed.ncbi.nlm.nih.gov/31548714/">PMID: 31548714</a>]. Over 700
          national experts participate in the development and operation of national services that contribute to data
          access, integration, training and analysis for the research community. Over 50 of these experts involved in
          the field of ML have established an ELIXIR ML focus group which held a number of meetings to develop and
          refine the recommendations based on a
          broad consensus among them. </p>
      </li>
    </ul>
  </section>
</div>
